body{
  background-color: #282c34;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Pawn{
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
}
.Board{
  display: inline;
  align-items: center;
  justify-content: center;
  /* width: calc(100px + 2vmin); */
  /* height: calc(100px + 2vmin); */
  /* min-width: calc(8 * 2vmin); */
  /* min-height: calc(8 * 2vmin); */
}
.Square {
  /* float: left; */
  border: 1px solid #FFF;
<<<<<<< HEAD
  width: 50px;
  height: 50px;
}
.Row {
  display: flex;
  flex-direction: row;
=======
  width: 20px;
  height: 20px;
  /* min-width: 2vw; */
  /* min-height: 2vw; */
>>>>>>> b66c4fd930626f56785b17618c75df4f7fffa432
}
.Row {}
